.contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact > p {
	font-family: 'Roboto', sans-serif;
	color:#1a1a1a;
	text-align: center;
	font-weight: 300;
	margin-top:20px;
	line-height:28px;
	font-size:18px;
}
.contact-title {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  color: #1a1a1a;
  font-weight: 700;
  text-align: center;
}
.contact > p > div {
  margin-top:30px;
}
.contact > p a {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  color: #1a1a1a;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  margin:0 10px;
}